.wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-weight: 500;
}